.content {
    max-width: 1440px;
    margin: auto;
}

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 92px 49px 91px 51px;
}


.header__links-list {
    display: flex;
    align-items: center;
    gap: 33px;
    justify-items: start;
    list-style-type: circle;
}

.header__links-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-underline-offset: 5px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
}

.address {
    max-width: 238px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    text-underline-offset: 5px;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    z-index: 1;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    padding: 165px 50px 62px 50px;
    color: #fff;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
}

.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 135px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned_text {
    display: block;
    text-align: left;
}

.aligned_text_center {
    display: block;
    text-align: center;
}

.aligned_text_right {
    display: block;
    text-align: right;
}

.no_spacing {
    letter-spacing: normal;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    margin-right: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    word-spacing: 18px;
    text-transform: uppercase;
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

.lots {
    padding: 180px 50px 51px 50px;
}

.lots__heading {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 40px;
}

.lots__look-more-link {
    margin-left: 40px;
    text-underline-offset: 5px;
    font-size: 20px;
    font-weight: 400;
}

.lots__card__list {
    display: flex;
    gap: 25px;
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
}

.lots__card__list__item {
    min-height: 450px;
    width: 430px;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color:#fff;
    padding: 50px 40px;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration: underline;
    text-transform: uppercase;
}

.card__text {
    margin-top: auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.about {
    display: grid;
    padding: 130px 50px 90px 50px;
    grid-template-columns: min-content 1fr;
    column-gap: 120px;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 25px;
}

.about__title {
    margin-top: 102px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    padding: 90px 50px;
}

.footer__links-list {
    text-align: center;
    list-style: none;
}

.footer__link {
    font-weight: 400;
    font-size: 18px;
    text-underline-offset: 2px;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px 48px;
    justify-self: end;
    align-items: center;
}