.content {
    max-width: 1440px;
    margin: auto;
    border: solid;
}

.header {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: solid;
    align-items: center;
    padding: 92px 49px 91px 51px;
}


.header__links-list {
    display: flex;
    align-items: center;
    gap: 10px 33px;
    list-style-type: circle;
}

.header__links-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    text-underline-offset: 5px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    width: 148px;
    height: 105px;
}

.header__logo-image {
    width: 100%;
}

.address {
    max-width: 238px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
}

.header__address {
    justify-self: end;
}

.cover {
    position: relative;
    z-index: 1;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    padding: 165px 50px 50px 50px;
    color: #fff;
    background-color: #a7a7a7;
    background-position: center;
    background-size: cover;
    border: solid;
}

.overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 135px;
    font-weight: 700;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.aligned_text {
    display: block;
    text-align: left;
}

.aligned_text_center {
    display: block;
    text-align: center;
}

.aligned_text_right {
    display: block;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cover__description-text {
    margin-right: 80px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    word-spacing: 20px;
    text-transform: uppercase;
}

.bet-button {
    border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
    padding: ;
    width: 1340px;
    height: 579px;
    border: solid;
    margin: 180px 50px 181px;
}

.about {
    padding: ;
    width: 1340px;
    height: 487px;
    border: solid;
}

.footer {
    padding: ;
    width: 1340px;
    height: 97px;
    border: solid;
    margin: 180px 50px 90px;
}